
@import url('https://fonts.googleapis.com/css2?family=Inria+Sans:wght@300&display=swap');
@import url('https://blogfonts.com/css/aWQ9MTY0MjM3JnN1Yj0yMzcmYz1tJnR0Zj1NYXp6YXJkSC1CbGFjay5vdGYmbj1tYXp6YXJk/Mazzard.otf');
@font-face {
  font-family: 'MazzardFont';
  src: url('../public/fonts/MazzardM-Regular.otf') format('opentype')
}
@font-face {
  font-family: 'InterFont';
  src: url('https://fonts.googleapis.com/css2?family=Inter:wght@100&display=swap') format('opentype')
}
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  vertical-align: baseline;
}
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
  font-family: "MazzardFont", sans-serif;
  letter-spacing: 1px;
  font-weight: 500;
}

ol, ul {
  list-style: none;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
*{
  box-sizing: border-box;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

a{
  text-decoration: none;
}

